* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inder", "Arial", sans-serif;
  height: 100%;
}

body {
  background: #FCF9F2;
  color: #525252;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  padding: 0 16px;
  min-width: 320px;
  min-height: 100vh;
}

header {
  padding: 16px 32px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 0 16px;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-content: flex-start;
}

.task {
  border: 2px solid #777575;
  padding: 10px;
  width: 240px;
  margin: 16px;
}

.task h1 {
  font-size: 2.0em;
  margin-bottom: 5px;
}

.task p {
  font-size: 1.5em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0;
}
