* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inder", "Arial", sans-serif;
  height: 100%;
}

body {
  background: #FCF9F2;
  color: #525252;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  padding: 0 16px;
  min-width: 320px;
  min-height: 100vh;
}

header {
  padding: 16px 32px;
}

header img {
  display: block;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #FCF9F2;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px #525252;
  cursor: pointer;
  outline: none;
}

.logout-button {
  position: fixed;
  top: 16px;
  right: 32px;
  color: #b45e5e;
  transition: transform 0.15s ease, background 0.15s ease, color 0.15s ease;
}

.logout-button:hover {
  background: #b45e5e;
  color: #FCF9F2;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 0 16px;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-content: flex-start;
}

.submit-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
}

.task {
  position: relative;
  padding: 10px 10px 56px;
  width: 240px;
  margin: 16px;
  border: 4px solid transparent;
  box-shadow: inset 0 0 0 2px #777575;
}

.task h1 {
  font-size: 2.0em;
  margin-bottom: 5px;
}

.task p {
  font-size: 1.5em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task-important {
  box-shadow: inset 0 0 0 4px #b45e5e;
}

.task-done {
  box-shadow: inset 0 0 0 2px #57b680;
}

.task-done.task-important {
  box-shadow: inset 0 0 0 4px #57b680;
}

.task .icon-button {
  background: #F7F4ED;
}

.delete-button {
  color: #777575;
}


.task-actions {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 8px;
}

.important-button {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0;
  color: #b45e5e;
}

.important-button.important-active {
  color: #F7F4ED;
  background: #b45e5e;
}

.done-button {
  color: #57b680;
}

.done-button.done-active {
  color: #F7F4ED;
  background: #57b680;
}


footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0;
}

.form-card {
  position: relative;
  width: 480px;
  max-width: 100%;
  margin: 30px auto 20px;
  padding: 15px;
  background: #FCF9F2;
  border-radius: 7px;
  box-shadow: 0 1px 3px #525252;
}

.form-card input,
.form-card textarea {
  width: 100%;
  padding: 4px;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2em;
}

.form-card textarea {
  resize: none;
}

.form-card .login-password {
  margin-top: 10px;
  padding-top: 14px;
  border-top: 1px solid #777575;
}

.login-form .submit-button {
  color: #57b680;
}

.create-task .submit-button {
  color: #777575;
}
