:root {
  --paper: #FCF9F2;
  --paper-shade: #F7F4ED;
  --pencil: #525252;
  --pencil-light: #777575;
  --red: #b45e5e;
  --green: #57b680;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inder", "Arial", sans-serif;
}

body {
  min-width: 320px;
  padding: 0 16px;
  background: var(--paper) url("https://www.transparenttextures.com/patterns/lined-paper.png");
  color: var(--pencil);

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 16px 32px;
}

header img {
  display: block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1 0 auto;
  padding: 0 16px;
}

footer {
  flex-shrink: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}


.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--paper);
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px var(--pencil);
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.submit-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
}

.logout-button {
  position: fixed;
  top: 16px;
  right: 32px;
  color: var(--red);
}

.logout-button:hover {
  background: var(--red);
  color: var(--paper);
}


.form-card {
  position: relative;
  width: 480px;
  max-width: 100%;
  margin: 30px auto 20px;
  padding: 15px;
  background: var(--paper);
  border-radius: 7px;
  box-shadow: 0 1px 3px var(--pencil);
}

.form-card input,
.form-card textarea {
  width: 100%;
  padding: 4px;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2em;
}

.form-card textarea {
  resize: none;
}

.form-card .login-password {
  margin-top: 10px;
  padding-top: 14px;
  border-top: 1px solid var(--pencil-light);
}

.login-form .submit-button {
  color: var(--green);
}

.login-form .submit-button:hover {
  background: var(--green);
  color: var(--paper);
}


.create-task .submit-button {
  color: var(--pencil-light);
}

.create-task .submit-button:hover {
  background: var(--pencil-light);
  color: var(--paper);
}

.task {
  position: relative;
  width: 240px;
  margin: 16px;
  padding: 10px 10px 56px;
  box-shadow: inset 0 0 0 2px var(--pencil-light);
}

.task h1 {
  margin-bottom: 5px;
  font-size: 2em;
}

.task p {
  margin-bottom: 10px;
  font-size: 1.5em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.task-important {
  box-shadow: inset 0 0 0 4px var(--red);
}

.task-done {
  box-shadow: inset 0 0 0 2px var(--green);
}

.task-done.task-important {
  box-shadow: inset 0 0 0 4px var(--green);
}

.task-actions {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 8px;
}

.task .icon-button {
  background: var(--paper-shade);
}

.delete-button {
  color: var(--pencil-light);
}

.important-button {
  color: var(--red);
  font-weight: bold;
  font-size: 1.1rem;
}

.important-button.important-active {
  background: var(--red);
  color: var(--paper-shade);
}

.done-button {
  color: var(--green);
}

.done-button.done-active {
  background: var(--green);
  color: var(--paper-shade);
}

.important-button:hover,
.done-button:hover,
.delete-button:hover {
  background: var(--paper);
}
